.image_container {
    margin-right:auto;
    margin-left:auto;
}
.image-viewer-container {
    border: 1px solid black;
    width: 79%;
    min-width: 950px;
    padding: 2px;
    margin-bottom: 10px;
    position:relative;
}
.image-overlay {
    position: absolute; 
    top: 5%;
    left: 90%;
    padding: 2px 1% 2px 1%;
    background:transparent none repeat scroll 0 0;
    color: #264409;
    font-weight: 500;
    z-index:10;
}
.image-viewer {
    height: 100%;
    width: 97%;
    overflow: auto;
    margin-right:auto;
    margin-left:auto;
    position:relative;
}
.image-comparison-form {
  width:  18%;
  float:  left;
}